.metadata/
RemoteSystemsTempFiles/
.DS_Store
.class
bin/
target/
gen/
out/
.cache/
.gwt/
.mtj.tmp
.scala_dependencies
.idea/*
.idea_modules/*
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/encodings.xml
!.idea/projectCodeStyle.xml
!.idea/vcs.xml
lib-android-util_src/
gen-external-apklibs/
gwt-unitCache/
web/WEB-INF/classes/
war/WEB-INF/classes/
